# test frameworks
pytest==3.6.1
flake8==3.5.0
pytest-flake8==1.0.1
coverage==4.5.1
pytest-cov==2.5.1
# fuzzing
hypothesis==3.59.3
faker==0.8.16
# environments
tox==3.0.0
# docs
sphinx==1.7.5
recommonmark==0.4.0
# automation
python-jenkins==1.0.2
# schemas and validation
jsonschema==2.6.0
lollipop==1.1.7
validators==0.12.2
