#####################
# reactors and apps #
#####################
AttrDict>=2.0.0
PyYAML>=3.12
hashids>=1.2.0
jmespath>=0.9.3
jsonschema>=2.6.0
petname>=2.2
python-jsonschema-objects==0.3.1
pytz>=2017.2
urllib3>=1.22
agavedb>=0.4.2
agavepy>=0.7.0
tacconfig>=0.5.2
