#####################
# Reactors SDKs     #
#####################
arrow>=0.12.1
hashids>=1.2.0
jmespath>=0.9.3
petname>=2.2
python-jsonschema-objects==0.3.1
tenacity>=5.0.2
####################
# TACC-maintained  #
####################
agavepy>=0.9.0
tacconfig>=0.5.2
requests_futures>=0.9.7
